
form {
	margin-top: 2em;
}

label {
	cursor: pointer;
}

.fout {
	background-color: red;
	border-bottom-right-radius: 0.5em;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	box-shadow: 5px 5px #777777;
	margin-left: 0.5em;
	padding: 0.5em;
	color: white;
	font-weight: bold;
}

.has-error > .help-block {
	margin-top: -2px;
	margin-bottom: 0;
}

/*
darkblue = #1D2F3E
darkestblue = #152737
lightblue = #0F9FB4
green = #0FB493
lightgreen = #C9E1C1
*/


body {
	background-color: #C9E1C1; 
	color: #fff;
	font-size: 2em;
}

.navbar-inverse {
	background-color: #255252;
	border-color: #C9E1C1;
}

.active > a{
	background-color: #C9E1C1;
}

.jumbotron{
	background-color: #255252;
}


.container .marketing {
	background-color: C9E1C1;
}

#searchForm > input {
	color: #3c763d;
}

.center {
	text-align: center;
}

#searchForm .form-control{
	font-size: 30px;
	height: 50px;
	padding: 30px 20px;
}



.btn-info {
	font-size: 30px;
	background-color: #dff0d8;
	border-color: #dff0d8;
	color: #3c763d;
}

.btn-info:hover{
	background-color: #9EB8B3;
	border-color: #9EB8B3;
}

.icon img{
	width: 60px;
	height: 60px;
	float: left;
	margin-right: 1.5em;
}

.list-group{
	margin-left:10px;
	margin-bottom: 30px;
}

.item {
	max-height: 1140px;
}

.has-error .form-control-feedback {
	color: #DCBE52;
}

.form-inline .has-feedback .form-control-feedback{
	left: 23px;
}

.checkbox-inline input[type=checkbox] {
	top: 11px;
}

#registrationform .form-group > div:first-of-type {
	margin-top: 7px;
}

#registrationform .form-group > #postcodeError {
	margin-top: 7px;
}

#preferencesform{
	margin-top: 0em;
}

.dropdown-menu{
	background-color: #255252;
}

.dropdown-menu>li>a, #logoutbutton{
	color: #fff;
	font-size: 1.5em;
}

.sidebar a{
	background-color: #C9E1C1;
	color: #4C8177;
}

.sidebar .active > a{
	background-color: #A3CB96;
}

.sidebar > .nav > li > a:hover {
	background-color: #9EB8B3;
}
/*
darkblue = #1D2F3E
darkestblue = #152737
lightblue = #0F9FB4
green = #0FB493
lightgreen = #C9E1C1
*/

.has-feedback label.sr-only~.form-control-feedback{
	color: #A9A9A9;
	top:2px;
}

.form-horizontal .checkbox-inline {
	margin-left: 40px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.form-inline .has-feedback .glyph-right{
	left: 20px;
	top: 5px;
	background-color: #E2E2E2;
}

.checkbox-inline label  {
	margin-left: 40px;
}

#uml{
	background-color: #255252;
}

#searchPreferenceForm {
	margin-top: 0;
}




